<?xml version="1.0" encoding="UTF-8"?>

<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template>null</Template>
  <Pages>0</Pages>
  <Words>14</Words>
  <Characters>7</Characters>
  <Lines>0</Lines>
  <Paragraphs>0</Paragraphs>
  <TotalTime>0</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>7</CharactersWithSpaces>
  <Application>WCDK OPEN OFFICE</Application>
  <DocSecurity>0</DocSecurity>
</Properties>
